<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<ni-card [title]="'Application Templates'" [align]="'left'">
  <div class="text-right">
    <button mat-raised-button (click)="create()" style="margin: 16px 8px;"><i class="material-icons">add</i> Create </button>
  </div>

  <mat-form-field>
    <input matInput #dataFilter placeholder="Type here to filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <div class="tgpr-table-wrapper">
      <table mat-table [dataSource]="_viewModel.dataSource" matSort class="tgpr-table">

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Application Name</th>
          <td mat-cell *matCellDef="let template">{{template.Name}}</td>
        </ng-container>
        <ng-container matColumnDef="ApplicationTypeId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Application Type</th>
          <td mat-cell *matCellDef="let template">{{template.Type}}</td>
        </ng-container>
        <ng-container matColumnDef="CreatedOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
          <td mat-cell *matCellDef="let template">{{template.CreatedOn | date:"MM/dd/yyyy"}}</td>
        </ng-container>
        <ng-container matColumnDef="UpdatedOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated On</th>
          <td mat-cell *matCellDef="let template">{{template.UpdatedOn | date:"MM/dd/yyyy"}}</td>
        </ng-container>

        <ng-container matColumnDef="Active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tgpr-header-center">Active</th>
          <td mat-cell *matCellDef="let template" class="tgpr-icon-cell text-center pt-2">
            <mat-checkbox [checked]="template.Active"
                          [(ngModel)]="template.Active"
                          (click)="setActive($event, template)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let template" class="tgpr-icon-cell">
            <swal
              #deleteTemplate
              title="Delete Template"
              text="Are you sure you would like to delete this template?"
              type="warning"
              [showCancelButton]="true"
              [focusCancel]="true"
              (confirm)="delete(template)">
            </swal>

            <button mat-button=""
                    [swal]="deleteTemplate"
                    matTooltip="Delete">
              <i class="material-icons">delete_outline</i>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="test">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let template" class="tgpr-icon-cell">
            <button mat-button
                    matTooltip="Test Application"
                    (click)="test(template)">
              <i class="material-icons">assignment</i>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="rename">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let template" class="tgpr-icon-cell">
            <button mat-button
                    (click)="rename(template)"
                    matTooltip="Rename">
              <i class="material-icons">format_shapes</i>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let template" class="tgpr-icon-cell">
            <button mat-button
                    matTooltip="Edit"
                    (click)="edit(template)">
              <i class="material-icons">edit</i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="_viewModel.columns"></tr>
        <tr mat-row *matRowDef="let template; columns: _viewModel.columns"></tr>

      </table>
    </div>
    <mat-paginator [length]="_viewModel.dataSource.total"
                   [pageSize]="25"
                   [pageSizeOptions]="[10,25,100]">
    </mat-paginator>
  </div>

</ni-card>
