.tgpr-accordion {

  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .tgpr-question-item-outline {
    box-shadow: 0 0 10px #6c757d !important;
  }

  .tgpr-option-children-outline {
    box-shadow: 0 0 10px #64b5f6 !important;
  }

  .mat-icon {
    vertical-align: middle;

    &.danger {
      color: red;
    }

    &.warning {
      color: darkorange;
    }
  }
}
